<!DOCTYPE html>
<html>
<head>
  <title>Nanofile</title>
  <%= stylesheet_link_tag    "nanofile/application", media: "all" %>
  <%= javascript_include_tag "nanofile/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
