.highlight-toolbar {
  position: absolute;
  z-index: z-index(top);

  display: flex;
  align-items: baseline;
  justify-content: flex-start;

  min-width: 160px;

  padding-right: 8px;
  padding-left: 8px;

  pointer-events: none;

  border-radius: 4px;
  background-color: $color-night;
  box-shadow: 0 3px 12px 0 rgba(#000, .3);

  &.-shown {
    pointer-events: auto;
  }
}
