.image-uploader {
  & > .chooser {
    padding: 10px 15px;

    cursor: pointer;

    color: white;
    border: 1px solid black;
    background-color: black;
  }

  & > .chooser:hover {
    color: black;
    background-color: #ccc;
  }

  & > .preview {
    width: 100%;
  }
}
