.inserter-menu {
  position: absolute;
  left: 20vw;

  display: flex;

  margin-left: -52px; // 32px of toggle width + 20px of distance from body

  pointer-events: none;

  & > .toggle {
    width: 32px;
    height: 32px;

    cursor: pointer;
    transition: transform .2s ease-in-out;
    transform: scale(0);
    pointer-events: auto;

    border: none;
    background-image: url(image_path('outline-plus.svg'));
    background-repeat: no-repeat;
    background-position: center;
  }

  & > .content {
    display: flex;
    flex-direction: column;

    width: 60vw; // same as editor
  }

  & > .content > .menu {
    display: flex;
    align-items: center;

    max-width: 0;
    height: 32px;

    background-color: #FFF;
  }

  & > .content > .menu > * {
    width: 26px;
    height: 22px;
    margin-left: 20px;

    cursor: pointer;

    background-color: #000;

    &:hover {
      background-color: $color-system;
    }
  }

  & > .content > .menu .image {
    @include mask-image(image_path('image.svg'));
  }

  & > .content > .menu .video {
    @include mask-image(image_path('video.svg'));
  }

  & > .content > .menu .bulleted-list {
    width: 24px;
    height: 16px;

    @include mask-image(image_path('unordered-list.svg'));
  }

  & > .content > .menu .numbered-list {
    height: 20px;

    @include mask-image(image_path('ordered-list.svg'));
  }

  & > .content > .menu .upload {
    border: none;
    border-bottom: 1px solid $color-system;
    background-color: transparent;
  }

  & > .content > .placeholder {
    margin-left: 20px;
  }

  & > .content > .placeholder.-with-image {
    height: 90px;

    border: 1px dashed $color-lavender-medium;
    border-radius: 3px;
  }

  & > .content > .placeholder > .droparea {
    display: none;
  }

  & > .content > .placeholder.-with-image > .image.droparea,
  & > .content > .placeholder.-with-video > .video.droparea {
    display: flex;

    margin: 8px;
  }

  & > .content > .placeholder.-with-image > .image.droparea {
    align-items: center;
    justify-content: center;

    height: calc(100% - 16px);

    text-transform: none;
    color: $color-light;

    background-color: $color-invisible;
  }

  & > .content > .placeholder.-with-image > .image.droparea > .linklike {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 1ch;

    color: $color-system;
  }

  & > .content > .placeholder.-with-video > .video.droparea {
    height: 100%;
    margin: 0;
    margin-top: 8px;

    border-bottom: 1px solid blue;
  }

  & > .content > .placeholder.-with-video > .droparea > .input {
    padding: 0;
  }

  &.-visible > .toggle {
    transform: scale(1);
  }

  &.-open {
    pointer-events: auto;
  }

  &.-open > .toggle {
    transform: scale(1) rotate(315deg);
  }

  &.-open > .content > .menu {
    max-width: 100%;
  }
}
