$color-brand-dark: #329E6D;
$color-brand: #32B67A;
$color-forest: #00D476;
$color-aqua: #4BE7C3;
$color-intense: #ACBFC7;
$color-aquamarine: #DCF1EC;

$color-bullfrog: #4B4B4B;
$color-footer: #545454;
$color-ice-gray: #5C5C5C;
$color-strong: #5F5F5F;
$color-medium: #838D8F;
$color-light: #9F9F9F;
$color-wall: #E1E1E1;
$color-fade: #EEE;
$color-background-footer: #FAFAFA;
$color-invisible: #F5F7FE;

$color-blueberry: #1812D6;
$color-apelsin: #FF4C06;
$color-fire-heavy: #E75153;
