<nav class="nav-bar">
  <div class="content">
    <%= link_to 'Dummy', root_path, class: 'brand' %>
    <%= link_to 'Profiles', profiles_path, class: "item" %>
    <%= link_to 'Upload button', page_path('upload_button'), class: "item" %>
  </div>
</nav>
