<nav class="nav-bar">
  <div class="content">
    <%= link_to 'Dummy', root_path, class: 'brand' %>
    <%= link_to 'Profiles', profiles_path, class: "item" %>
    <%= link_to 'Gallery', photos_path, class: "item" %>
  </div>
</nav>
