@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
  font-family: $font-family-open-sans;
  font-size: $font-size-base;
}

h1, h2, h3 { font-weight: bold; }

h1 {
  font-size: $font-size-big;
  font-weight: $font-weight-medium;
}
